## Ignore

# macOS finder 'DS_Store'
.DS_Store*

# The staging and out directory
staging/*
out/*

# backup and zip files
*.backup
*.zip

# Due to LFS limitations
*.apk

# xfiles
xfiles/*
x_*

# modified apk directory(s)
extended/*
revanced/*
vanced/*
